<p>child-2-crid-operation works!</p>

<div>
    <div class="col-md-6">
        <label for="" class="form-label">EmpId:</label>
        <input
            type="text"
            name=""
            id=""
            class="form-control"
            [(ngModel)] = "EmpId"
            placeholder="Enter Emp Id"
        />
    </div>
    <div class="col-md-6">
        <label for="" class="form-label">EmpName:</label>
        <input
            type="text"
            name=""
            id=""
            class="form-control"
            [(ngModel)] = "EmpName"
            placeholder="Enter Emp Id"
        />
    </div>
    <div class="col-md-6">
        <label for="" class="form-label">Emp_JobTitle:</label>
        <input
            type="text"
            name=""
            id=""
            class="form-control"
            [(ngModel)] = "EmpJobTitle"
            placeholder="Enter Emp Id"
        />
    </div>
    <div class="col-md-6">
        <label for="" class="form-label">Emp_Salary:</label>
        <input
            type="text"
            name=""
            id=""
            class="form-control"
            [(ngModel)] = "EmpSalary"
            placeholder="Enter Emp Id"
        />
    </div>
    <div class="col-md-3">
        <button class="btn btn-success m-1" (click)="addEmp()">Add Employee</button>
    </div>
</div>
