<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="images/iphone_14_pro.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.reliancedigital.in/medias/OnePlus-11R-Mobile-Phone-493665199-i-1-1200Wx1200H?context=bWFzdGVyfGltYWdlc3wxODE1NjB8aW1hZ2UvanBlZ3xpbWFnZXMvaGYwL2g0Ni85OTY0MTk3MzE0NTkwLmpwZ3wwZTAzNzIxNDY5ZWY2ZmZmZDAzNDIxMzY4YTQ2OWFkMjFjZDA3OWExNjQ1YzUzZmE3NzJjNDk1ZWRlOWMyYzhj" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.reliancedigital.in/medias/OnePlus-11R-Mobile-Phone-493665198-i-1-1200Wx1200H-300Wx300H?context=bWFzdGVyfGltYWdlc3w3NDIzNXxpbWFnZS9qcGVnfGltYWdlcy9oN2QvaDBiLzk5NjQxOTc4Mzg4NzguanBnfGNiMDQ3NWMyZTkwNjM0YTk1NzQ4YjBlZmY4YTY1MmU1NDNkYmZkN2I2MTUyMmExOGJiYmY0YjEyOTg0YTllOGY" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.aptronixindia.com/media/catalog/product/cache/31f0162e6f7d821d2237f39577122a8a/i/p/iphone_14_pro_deep_purple_pdp_image_position-1a_avail__en-in-removebg-preview.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.aptronixindia.com/media/catalog/product/cache/31f0162e6f7d821d2237f39577122a8a/i/p/iphone_14_pro_deep_purple_pdp_image_position-1a_avail__en-in-removebg-preview.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.reliancedigital.in/medias/OnePlus-11R-Mobile-Phone-493665199-i-1-1200Wx1200H?context=bWFzdGVyfGltYWdlc3wxODE1NjB8aW1hZ2UvanBlZ3xpbWFnZXMvaGYwL2g0Ni85OTY0MTk3MzE0NTkwLmpwZ3wwZTAzNzIxNDY5ZWY2ZmZmZDAzNDIxMzY4YTQ2OWFkMjFjZDA3OWExNjQ1YzUzZmE3NzJjNDk1ZWRlOWMyYzhj" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.reliancedigital.in/medias/OnePlus-11R-Mobile-Phone-493665198-i-1-1200Wx1200H-300Wx300H?context=bWFzdGVyfGltYWdlc3w3NDIzNXxpbWFnZS9qcGVnfGltYWdlcy9oN2QvaDBiLzk5NjQxOTc4Mzg4NzguanBnfGNiMDQ3NWMyZTkwNjM0YTk1NzQ4YjBlZmY4YTY1MmU1NDNkYmZkN2I2MTUyMmExOGJiYmY0YjEyOTg0YTllOGY" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.aptronixindia.com/media/catalog/product/cache/31f0162e6f7d821d2237f39577122a8a/i/p/iphone_14_pro_deep_purple_pdp_image_position-1a_avail__en-in-removebg-preview.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>