<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="" class="for">Search: </label>
            <!-- <input type="text" id="search" [ngModel]="searchText" (ngModelChange)="searchKey($event)" placeholder="Find by name" ngModel> -->
            <button class="btn btn-primary m-1" (click)="ASC()">Sort Asc</button>
            <button class="btn btn-secondary m-1" (click)="DES()">Sort Desc</button>    
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                <td>Id</td>
                <td>FIRST_NAME</td>
                <td>LAST_NAME</td>
                <td>EMAIL</td>
                <td>PHONE_NUMBER</td>
                <td>HIRE_DATE</td>
                <td>SALARY</td>
                <td>DEPARTMENT_ID</td>
            </tr>
            </thead>
            <tbody>
                @for (item of employees; track $index) 
                {
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.FIRST_NAME}}</td>
                        <td>{{item.LAST_NAME}}</td>
                        <td>{{item.EMAIL}}</td>
                        <td>{{item.PHONE_NUMBER}}</td>
                        <td>{{item.HIRE_DATE}}</td>
                        <td>{{item.SALARY}}</td>
                        <td>{{item.DEPARTMENT_ID}}</td>
                        <td><button class="btn btn-warning m-1" (click)="f1($index, item)">Delete</button>
                            <button class="btn btn-success m-1">Update Data</button>
                            <button class="btn btn-info m-1" (click)="view($index, item)">View Data</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
